name: Browser tests
on:
    workflow_dispatch:
        inputs:
            send-success-notification:
                description: 'Send a notification when the tests pass'     
                required: false
                type: boolean
                default: false
            project-version:
                description: 'Fill only when the tests should run on a stable release'
                required: false
                type: string
                default: ''
    push:
        branches:
            - master
            - "[0-9]+.[0-9]+"
    pull_request: ~

jobs:
    regression-experience-setup1:
        name: "PHP 8.3/Node 22/PostgreSQL 14.15/Varnish/Redis 7.2/Multirepository"
        uses: ibexa/gh-workflows/.github/workflows/browser-tests.yml@main
        with:
            project-edition: "experience"
            project-version: ${{ github.event.inputs.project-version }}
            test-suite: "--profile=regression --suite=experience"
            test-setup-phase-1: "--profile=regression --suite=setup-experience --tags=~@part2 --mode=standard"
            test-setup-phase-2: "--profile=regression --suite=setup-experience --tags=@part2 --mode=standard"
            setup: "doc/docker/base-dev.yml:doc/docker/db-postgresql.yml:doc/docker/varnish.yml:doc/docker/redis7.2.yml:doc/docker/selenium.yml"
            send-success-notification: ${{ github.event.inputs.send-success-notification != 'false' }}
            job-count: 4
            multirepository: true
            timeout: 120
            php-image: "ghcr.io/ibexa/docker/php:8.3-node22"
        secrets: inherit
    regression-experience-setup2:
        name: "PHP 8.3/Node 22/MySQL 8.0/Elastic"
        uses: ibexa/gh-workflows/.github/workflows/browser-tests.yml@main
        with:
            project-edition: "experience"
            project-version: ${{ github.event.inputs.project-version }}
            test-suite: "--profile=regression --suite=experience"
            test-setup-phase-1: "--profile=regression --suite=setup-experience --tags=~@part2 --mode=standard"
            test-setup-phase-2: "--profile=regression --suite=setup-experience --tags=@part2 --mode=standard"
            setup: "doc/docker/base-dev.yml:doc/docker/db-mysql8.0.yml:doc/docker/elastic.yml:doc/docker/selenium.yml"
            send-success-notification: ${{ github.event.inputs.send-success-notification != 'false' }}
            job-count: 4
            timeout: 120
            php-image: "ghcr.io/ibexa/docker/php:8.3-node22"
        secrets: inherit
    regression-experience-setup3:
        name: "PHP 8.3/Node 22/MySQL 8.4/Solr 8"
        uses: ibexa/gh-workflows/.github/workflows/browser-tests.yml@main
        with:
            project-edition: "experience"
            project-version: ${{ github.event.inputs.project-version }}
            test-suite: "--profile=regression --suite=experience"
            test-setup-phase-1: "--profile=regression --suite=setup-experience --tags=~@part2 --mode=standard"
            test-setup-phase-2: "--profile=regression --suite=setup-experience --tags=@part2 --mode=standard"
            setup: "doc/docker/base-dev.yml:doc/docker/db-mysql8.4.yml:doc/docker/solr8.yml:doc/docker/selenium.yml"
            send-success-notification: ${{ github.event.inputs.send-success-notification != 'false' }}
            job-count: 4
            timeout: 120
            php-image: "ghcr.io/ibexa/docker/php:8.3-node22"
        secrets: inherit
    page-builder-matchers-1:
        name: "Map\\Host matcher tests/MariaDB 10.11"
        uses: ibexa/gh-workflows/.github/workflows/browser-tests.yml@main
        with:
            project-edition: "experience"
            project-version: ${{ github.event.inputs.project-version }}
            test-suite: "--profile=browser --suite=page-builder"
            test-setup-phase-1: "--mode=standard --profile=setup --suite=MapHost"
            test-setup-phase-2: '--mode=standard --profile=setup --suite=page-builder --tags=@setup'
            setup: "doc/docker/base-dev.yml:doc/docker/db-mariadb.yml:doc/docker/multihost.yml:doc/docker/selenium.yml"
            send-success-notification: ${{ github.event.inputs.send-success-notification != 'false' }}
        secrets: inherit
    page-builder-matchers-2:
        name: "Map\\URI matcher tests/MariaDB 10.11/Solr 9"
        uses: ibexa/gh-workflows/.github/workflows/browser-tests.yml@main
        with:
            project-edition: "experience"
            project-version: ${{ github.event.inputs.project-version }}
            test-suite: "--profile=browser --suite=page-builder"
            test-setup-phase-1: "--mode=standard --profile=setup --suite=MapURI"
            test-setup-phase-2: '--mode=standard --profile=setup --suite=page-builder --tags=@setup'
            setup: "doc/docker/base-dev.yml:doc/docker/db-mariadb.yml:doc/docker/solr9.yml:doc/docker/selenium.yml"
            send-success-notification: ${{ github.event.inputs.send-success-notification != 'false' }}
        secrets: inherit
    page-builder-matchers-3:
        name: "URIElement matcher tests/MariaDB 10.11"
        uses: ibexa/gh-workflows/.github/workflows/browser-tests.yml@main
        with:
            project-edition: "experience"
            project-version: ${{ github.event.inputs.project-version }}
            test-suite: "--profile=browser --suite=page-builder"
            test-setup-phase-1: "--mode=standard --profile=setup --suite=URIElement"
            test-setup-phase-2: '--mode=standard --profile=setup --suite=page-builder --tags=@setup'
            setup: "doc/docker/base-dev.yml:doc/docker/db-mariadb.yml:doc/docker/selenium.yml"
            send-success-notification: ${{ github.event.inputs.send-success-notification != 'false' }}
        secrets: inherit
    page-builder-matchers-4:
        name: "Compound matcher tests/MariaDB 10.11"
        uses: ibexa/gh-workflows/.github/workflows/browser-tests.yml@main
        with:
            project-edition: "experience"
            project-version: ${{ github.event.inputs.project-version }}
            test-suite: "--profile=browser --suite=page-builder"
            test-setup-phase-1: "--mode=standard --profile=setup --suite=CompoundMapURIMapHost"
            test-setup-phase-2: '--mode=standard --profile=setup --suite=page-builder --tags=@setup'
            setup: "doc/docker/base-dev.yml:doc/docker/db-mariadb.yml:doc/docker/multihost.yml:doc/docker/selenium.yml"
            send-success-notification: ${{ github.event.inputs.send-success-notification != 'false' }}
        secrets: inherit
